<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="4.1.0" targetFramework="net461" />
  <package id="ImGui.NET" version="1.72.0" targetFramework="net461" />
  <package id="OpenTK" version="3.1.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net461" />
  <package id="StbImageSharp" version="2.22.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
</packages>